*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

header{
    background-size: cover;
    background-image: url(./img/jumbo.png);
    padding-bottom: 50px;
}

header nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-top: 1%;
}

/*header nav figure,
header nav ul,
header nav a{
    background-color: lightgoldenrodyellow;
    border: 1px dashed black;
}*/

header nav ul{
    padding-top: 1%;
    display: flex;
    gap: 30px;
    color: white;
    font-family: sans-serif;
    align-items: center;
}

header nav ul li{
    /* display: inline-block; */

    list-style-type: none;
}

#accedi{
    background-color: white;
    padding: 25%;
    border-radius: 30px;
    border: none;
}

#cta{
    margin: 50px auto 0 auto;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Yantramanav', sans-serif;
    text-align: center;
    color: white;
    width: 33%;
}

#iltuoposto{
    font-size: 350%;
    padding-bottom: 10%;
}

#scaricapermac{
    background-color: white;
    padding: 2%;
    border-radius: 30px;
    border: none;
    font-size: 100%;
}

#cta-buttons{
    padding: 5% 0% 20% 0%;
}

#onlineds{
    color: white;
    background-color: #23272A;
    padding: 2%;
    border-radius: 30px;
    border: none;
    font-size: 100%
}

.section-text{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Yantramanav', sans-serif;
}

main h3{
    font-size: 350%;
}

main p{
    font-size: 150%;
}

.container{
    width: 80%;
    margin: 0 auto;
}

section{
    padding-block: 20px;
    /* background-color: black; */
}

section .img-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

section .img-text figure{
    flex-basis: 60%;
}

section .img-text .section-text{
    flex-basis: 25%;
}

section.discord-services:nth-child(even){
    background-color: lightgray;
}

section.discord-services:nth-child(even) .img-text figure{
    order: 1;
}

section.discord-services:last-child{
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Yantramanav', sans-serif;
}

section.discord-services:last-child p{
    margin: 0 auto;
    width: 70%;
}

main h5{
    font-size: 200%;
}

#scarica{
    margin: 3% 0 5% 0;
    color: white;
    background-color: #8EA1E1;
    padding: 1%;
    border-radius: 30px;
    border: none;
    font-size: 100%   
}

footer{
    background-color: #23272A;
    color: white;
    padding-top: 3%;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Yantramanav', sans-serif;
}

footer h2,h4{
    color: #7289DA;
}

footer ul li{
    list-style-type: none;
}

footer .container{
    display: flex;
    /* justify-content: space-between; */
}

footer .container > div{
    flex-basis: 40%;
}

footer .container>div:first-child{
    flex-basis: 60%;
}

footer .footer-login{
    display: flex;
    justify-content: space-between;
}

footer img{
    width: 5%;
}
 
footer span{
    color: white;
}

footer div.container div ul li a{
    display: flex;
    flex-direction: row;
}

.footer-login{
    padding: 2% 0 3% 0;
} 

#logofinale{
    width: 120%;
}

#registrati{
    margin: 3% 0 5% 0;
    color: white;
    background-color: #8EA1E1;
    padding: 20%;
    border-radius: 30px;
    border: none;
    font-size: 100%  
}

#social{
    display:flex;
}

#social > li{
    width: 10%;
}

.loghisocial{
    width: 300%;
}